/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px

@media(max-width:425px){
  
  }*/

#modsimplesearch-form{
  display: flex;
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
.login{
    width: 200%;
}
.registration{
  width: 200%;
}
#sp-header i.fa-bars,
#offcanvas-toggler,
#sp-header #offcanvas-toggler i.fa-bars,
#offcanvas-toggler > i.fa {display: none !important; font-size:0; padding:0;}

#sp-menu .sp-megamenu-parent.hidden-sm.hidden-xs {display: block !important;}
#sp-search {
  padding: 0px 10px;
}
#modsimplesearch-form input, #modsimplesearch-form select {
  width: 250px;
}
}

#sp-header .logo {
  width: 100%; 
}

@media  (max-width: 1023px) {
 
  .adsmanager-grid {
    width: 100%;
    height: 255px;
}
#catselection{
  display:none
}
#sp-left{
  display:none
}
#row-fluid adsmanager_search_module {
  border-radius: 0px;
  width: 200px;
  height: 35px;
}

}
@media (min-width: 1024px){
  #modsimplesearch-form input, #modsimplesearch-form select {
    border-radius: 0px;
    width: 150px;
    height: 35px;
}
  /*mobile menu disable*/
#offcanvas-toggler{
  display:none;
}
 /*adsmanagergrid*/
.adsmanager-grid {
  width: 32%;
  margin-left: 10px;
  float: left;
  border: 1px solid #faf7f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  margin-bottom: 20px;
  height: 300px;
}
.login{
  width: 100%;
}
/*logo*/
#sp-header .logo {
  width: 40%;
}
#sp-search{
  padding: 5px 0px;
 
}
}
  /*search box*/
#sp-module-content .modsimplesearch-form{
  background: rgba(255, 255, 255, 0);
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius:10px;
}
#adsmanager_search_filed{
  display: flex;
    }

.btn-search{
  height: 35px;
  white-space: nowrap;
  color: #fff;
   cursor: pointer;
  background: #F3A847;
  transition: all .2s ease-out, color .2s ease-out;
  border-color:#F3A847;
  }
  /*header menu*/
  body.itemid-437 #sp-header,
#sp-header {
    background:#232F3F  ;
}

 /*topbar*/
 #sp-top-bar {
  background-color: #131921!important;
}


/*href al une*/
 .span12 a{
   color:#007185;
 }
 /*breadcrumb*/
.breadcrumb {
    background-color: #fff;
 }
/*adsmanagergrid*/
.adsmanager-grid h4 {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ffffff;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.adsmanager-grid a {
  color: #000000;
}
/*bnt-danger*/
.btn-danger {
  color: #fff;
  background-color: #E7E9EC;
  border-color: #E7E9EC;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #E7E9EC;
    border-color: #E7E9EC;
}
#sp-bottom1{
  margin: 10px 0px 0px 0px;
}
#sp-bottom2{
  margin: 10px 0px 0px 0px;
}
#sp-bottom3{
  margin: 10px 0px 0px 0px;
}
#sp-bottom4{
  margin: 10px 0px 0px 0px;
}
.offcanvas-menu 
{ background-color: #fff; 
  color: #000;
}
.offcanvas-inner .sp-module ul > li > a:hover { color: #000; }
.offcanvas-menu .offcanvas-inner .sp-module ul > li a {
  color: #000
}
.close-offcanvas {
   border: 1px solid #000;
  color: #000;
}
#offcanvas-toggler > i {
  font-size:30px;
   z-index:999; }
   @media (min-width: 320px) and (max-width: 480px) {
    #sp-header {
      height: 0px;
    }
    .juloawrapper{
      float: right;
    }
    #sp-logo {
         width: 40%;
         padding: 10px 0px;
     }
     /*logo*/
   #sp-header .logo {
     width: 100%;
   }
   
     #sp-menu{
       padding-left: 0px;
     }
     #adsmanager_search_filed{
       display: flex;
     align-items: center;
     justify-content: center;
         }
     
     #modsimplesearch-form input{
       border-radius: 0px;
       width: 230px;
       height: 35px;
     }
     .login{
       width: 100%;
     }
     .registration{
     width: 100%;
     }
   }
   .favmenu{
    font-weight: bold
   }
   #imagesupload_browse {
    color: #fff;
    background-color: #007084;
    border-color: #007084;
}
.akeeba-sociallogin-link-button-google, .akeeba-sociallogin-unlink-button-google, .akeeba-sociallogin-button-google {
 margin: 0px 0px 5px 0px !important;
 width: 100%;
  text-shadow: none !important;
  background-image: none !important;
  border: none !important;
  padding: 2px 8px 2px 2px !important;
  height: 35px;
  white-space: nowrap;
  color: #fff;
   cursor: pointer;
  background: #f00505 !important;
  transition: all .2s ease-out, color .2s ease-out;
  border-color:#f00505 !important;
}
.akeeba-sociallogin-link-button-facebook, .akeeba-sociallogin-unlink-button-facebook, .akeeba-sociallogin-button-facebook {
  background-color: #1877F2 !important;
  color: #ffffff !important;
  text-shadow: none !important;
  background-image: none !important;
  border: none !important;
  width: 100%;
  text-shadow: none !important;
  background-image: none !important;
  border: none !important;
  padding: 2px 8px 2px 2px !important;
  height: 35px;
  white-space: nowrap;
  margin: 5px 0px !important;
}