/*
*/

@media (max-width: 768px){
.login{
    width: 200%;
}
.registration{
  width: 200%;
}
}

@media  (max-width: 1023px) {
  .adsmanager-grid {
    width: 100%;
    height: 255px;
}
#catselection{
  display:none
}
#sp-left{
  display:none
}
#row-fluid adsmanager_search_module {
  border-radius: 0px;
  width: 200px;
  height: 35px;
}

}
@media (min-width: 1024px){
  /*mobile menu disable*/
#offcanvas-toggler{
  display:none;
}
 /*adsmanagergrid*/
.adsmanager-grid {
  width: 32%;
  margin-left: 10px;
  float: left;
  border: 1px solid #faf7f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  margin-bottom: 20px;
  height: 300px;
}
.login{
  width: 100%;
}
}
/*logo*/
#sp-header .logo {
  width: 40%;
}
@media(max-width:425px){
  /*logo*/
#sp-header .logo {
  width: 100%;
}
  .row{
    display:flex
  }
  .sp-column{
    display: flex;
  } 
  #sp-menu{
    padding-left: 0px;
  }
  /*logo*/
  #sp-logo {
   width: 100%;
    padding: 0px;
  }
  #modsimplesearch-form input{
    border-radius: 0px;
    width: 150px;
    height: 35px;
  }
  .login{
    width: 100%;
  }
  .registration{
  width: 100%;
  }
  }
  /*search box*/
#sp-module-content .modsimplesearch-form{
  background: rgba(255, 255, 255, 0);
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius:10px;
}
#adsmanager_search_filed{
  display: flex;
    }
#modsimplesearch-form input, #modsimplesearch-form select {
    border-radius: 0px;
    width: 180px;
    height: 35px;
}
.btn-search{
  height: 35px;
  white-space: nowrap;
  color: #fff;
   cursor: pointer;
  background: #F3A847;
  transition: all .2s ease-out, color .2s ease-out;
  border-color:#F3A847;
  }
  /*header menu*/
  body.itemid-437 #sp-header,
#sp-header {
    background:#232F3F  ;
}
 /*topbar*/
 #sp-top-bar {
  background-color: #131921!important;
}


/*href al une*/
 .span12 a{
   color:#007185;
 }
 /*breadcrumb*/
.breadcrumb {
    background-color: #fff;
 }
/*adsmanagergrid*/
.adsmanager-grid h4 {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ffffff;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.adsmanager-grid a {
  color: #000000;
}
/*bnt-danger*/
.btn-danger {
  color: #fff;
  background-color: #E7E9EC;
  border-color: #E7E9EC;
}
#sp-bottom1{
  margin: 10px 0px 0px 0px;
}
#sp-bottom2{
  margin: 10px 0px 0px 0px;
}
#sp-bottom3{
  margin: 10px 0px 0px 0px;
}
#sp-bottom4{
  margin: 10px 0px 0px 0px;
}
.offcanvas-menu {
  background-color:#0000;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a {
  color: #000
}
.close-offcanvas {
 
  border: 1px solid #000;
  color: #000;
  
}