/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px

@media(max-width:425px){
  
  }*/
.paginationblock {
  display: inline-block;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007185;
  border-color: #007185;
}
.page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #018299;
  border-color: #007185;
}
#modsimplesearch-form {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /*.d-lg-block {
    display: flex !important;
  }*/
  #order{
    max-width: 20%;
    margin-left: 80%;
    margin-bottom: 20px;
  }

  #sp-header i.fa-bars,
  #offcanvas-toggler,
  #sp-header #offcanvas-toggler i.fa-bars,
  #offcanvas-toggler > i.fa {
    display: none !important;
    font-size: 0;
    padding: 0;
  }

  #sp-menu .sp-megamenu-parent.hidden-sm.hidden-xs {
    display: block !important;
  }
  #sp-search {
    padding: 0px 10px;
  }
  #modsimplesearch-form input,
  #modsimplesearch-form select {
    width: 250px;
  }
}

@media (max-width: 1023px) {
  .adsmanager-grid {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }
  #catselection {
    display: none;
  }
  #sp-left {
    display: none;
  }
}
@media (min-width: 1024px) {
  /*carusel
  .diaporama{
    max-width: 50%;
  }
  */
  #order{
    max-width: 20%;
    margin-left: 80%;
    margin-bottom: 20px;
  }
  .adsdetail{
    display:flex
  }
  
  /*.d-lg-block {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    place-content: space-around;
    }*/
  #modsimplesearch-form input,
  #modsimplesearch-form select {
    border-radius: 0px;
    width: 200px;
    height: 40px;
  }
  /*adsmanagergrid*/
  .adsmanager-grid {
    width: 32%;
    margin-left: 10px;
    float: left;
    border: 1px solid #faf7f7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    height: 300px;
  }
  .login {
    width: 100%;
  }
}
/*search box*/
#sp-module-content .modsimplesearch-form {
  background: rgba(255, 255, 255, 0);
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
#adsmanager_search_filed {
  display: flex;
}

.btn-search {
  height: 40px;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  background: #f3a847;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border-color: #f3a847;
}
/*header menu*/
body.itemid-437 #sp-header,
#sp-header {
  background: #232f3f;
}

/*topbar*/
#sp-top-bar {
  background-color: #131921 !important;
}

/*href al une*/
.span12 a {
  color: #007185;
  }
/*breadcrumb*/
.breadcrumb {
  background-color: #fff;
}
/*adsmanagergrid*/
.adsmanager-grid h4 {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ffffff;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.adsmanager-grid a {
  color: #000000;
}
/*btn-danger*/
.btn-danger {
  color: #fff;
  background-color: #e7e9ec;
  border-color: #e7e9ec;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #e7e9ec;
  border-color: #e7e9ec;
}
/*btn-primary*/
.btn-primary {
  color: #fff;
  background-color: #007084;
  border-color: #007084;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #007084;
  border-color: #007084;
}
/*btn-secondary*/
.btn-secondary {
  color: #000;
  background-color: #EFEFEF;
  border-color:#EFEFEF;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  color: #000;
  background-color: #EFEFEF;
  border-color:#EFEFEF;
}
/*
#sp-bottom1{
  margin: 10px 0px 0px 0px;
}
#sp-bottom2{
  margin: 10px 0px 0px 0px;
}
#sp-bottom3{
  margin: 10px 0px 0px 0px;
}
#sp-bottom4{
  margin: 10px 0px 0px 0px;
}
*/
.offcanvas-menu {
  background-color: #fff;
  color: #000;
}
.offcanvas-inner .sp-module ul > li > a:hover {
  color: #000;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a {
  color: #000;
}
.close-offcanvas {
 top: 10px;
}
#offcanvas-toggler > i {
  font-size: 30px;
  z-index: 999;
}

@media (max-width: 425px) {
  #sp-left {
    display: none;
  }
  #sp-menu {
    display: none !important;
  }
  /*logo*/
  #sp-header .logo {
    width: 100%;
  }

  #adsmanager_search_filed {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #modsimplesearch-form input {
    border-radius: 0px;
    width: 350px;
    height: 40px;
  }
  .login {
    width: 100%;
  }
  .registration {
    width: 100%;
  }
}
@media (max-width: 375px) {
  #sp-left {
    display: none;
  }
  #modsimplesearch-form input {
    width: 300px;
    height:40px;
  }
}
@media (max-width: 320px) {
  #sp-left {
    display: none;
  }
  #modsimplesearch-form input {
    border-radius: 0px;
    width: 250px;
    height: 40px;
  }
}
.favmenu {
  font-weight: bold;
}
#imagesupload_browse {
  color: #fff;
  background-color: #007084;
  border-color: #007084;
}
.akeeba-sociallogin-link-button-google,
.akeeba-sociallogin-unlink-button-google,
.akeeba-sociallogin-button-google {
  margin: 0px 0px 15px 0px !important;
  width: 100%;
  text-shadow: none !important;
  background-image: none !important;
  border: none !important;
  padding: 2px 8px 2px 2px !important;
  height: 40px;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  background: #f00505 !important;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border-color: #f00505 !important;
}
.akeeba-sociallogin-link-button-facebook,
.akeeba-sociallogin-unlink-button-facebook,
.akeeba-sociallogin-button-facebook {
  background-color: #1877f2 !important;
  color: #ffffff !important;
  text-shadow: none !important;
  background-image: none !important;
  border: none !important;
  width: 100%;
  text-shadow: none !important;
  background-image: none !important;
  border: none !important;
  padding: 2px 8px 2px 2px !important;
  height:40px;
  white-space: nowrap;
  margin: 15px 0px !important;
}

img {
  display: inline;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  color: #252525 !important;
}

#offcanvas-toggler > .fa {
  color: #fff;
}
#sp-main-body {
  padding: 20px 0;
}
.form-horizontal .controls {
  margin-left: 0px;
}
#sp-header .logo {
  height: 70px;
  display: inline-flex;
  margin: 0;
  align-items: center;
}
#sp-mobile-header .logo {
  height: 70px;
  display: inline-flex;
  margin: 0;
  align-items: center;
}
#sp-logo {
  height: 70px;
}
/*hide social share*/
.article-details .article-ratings-social-share {
  display: none !important;
}
/*hide contactus link*/
div.message {
  display: none !important;
  text-align: right;
}
div.contactus-form button.contactus-button {
  margin-top: 20px;
}
/*users-profile-core*/
#users-profile-core a{
  color: #007084;
}
/*mes annoe tab*/
.no-margin-top a{
  color:#000
}
#adsmanager_table table .table-striped .tdcenter a{
  color: #007084;
}
/*link color*/
a {
  color: #007084;
}
/*deals btn*/
.btn-deals {
  height: 100%;
   color: #fff;
  cursor: pointer;
  background: #f3a847;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border-color: #f3a847;
}
.btn-deals a{
  color:#fff
}
/*adsmanager ad city width*/
#chzn-container-single{
  width: 100%;
}
/*offcanavasmenutoggler*/
.offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > a > .menu-toggler:after, .offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > .menu-separator > .menu-toggler:after {
  content: "\002B";
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent.menu-parent-open > a > .menu-toggler:after, .offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent.menu-parent-open > .menu-separator > .menu-toggler:after {
  content: "\2212";
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > a > .menu-toggler, .offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > .menu-separator > .menu-toggler {

  color: #000;
  top: 60%;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a:hover, .offcanvas-menu .offcanvas-inner .sp-module ul > li span:hover, .offcanvas-menu .offcanvas-inner .sp-module ul > li a:focus, .offcanvas-menu .offcanvas-inner .sp-module ul > li span:focus {
  color: #000
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul li a {
  color: #000;
}
.offcanvas-menu .offcanvas-inner .sp-module .sp-module-content .menu > li {
  padding: 10px 0px;
}
.offcanvas-menu .offcanvas-inner .sp-module .sp-module-content .menu > li{
  border-bottom: 1px solid #aaa;
}
/*.cree_annonce {
  cursor: pointer;
  background: #f3a847;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border-color: #f3a847;
      position: relative;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 200px;
      }
  .cree_annonce {
    box-shadow: 1px 1px 5px 1px #f3a947;
	background-color:#f3a947;
	border-radius:10px;
	border:1px solid #f3a847;
	display:inline-block;
	cursor:pointer;
  text-decoration:none;
}
.cree_annonce:hover {
	background-color:#f3a947;
}
.cree_annonce:active {
	position:relative;
	top:1px;
}*/

  /*select order*/
  